.filter-btn {
    height: 3rem;
    padding: 12px;
    font-size: 20px;
    background-color: rgb(5, 82, 46);
    color: white;
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    width: 250px;
  }

table tr td select, table tr td input {
  height: 40px;
}

table tr td {
  width: fit-content;
}

.zero-width {
  width: 0;
}

#users-list tr td {
  max-width: 300px;
  word-wrap: break-word;
}